@import "./variables";

@mixin fontRigelstar {
  font-family: Rigelstar;
}

@mixin commonHoverStyle {
  cursor: pointer;
  background-color: $hover-bg-color;
}

@mixin textOverflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
